{% extends "main/header.html" %}
{% load static %}
{% block title %}
<title>Homepage</title>
<link rel="stylesheet" href="{% static 'css/text_change.css' %}">

{% endblock %}

{% block content %}
<div style="height: 100px;"></div>
{% if user.is_authenticated %}
<div class="row">
    <div class="col m2 s12">
            <iframe src="https://discordapp.com/widget?id=436159406875475969&theme=dark" width="100%" height="400px" allowtransparency="true" frameborder="0"></iframe>
    </div>
    <div class="col m8 s12">
        <!--<div class="parallax-container"></div>-->
        <!--<div class="parallax"><img src="{% static 'images/BackgroundImageScrolling.png' %}"></div>-->
        <!--<div class="section white">-->
            <!--<div class="row container">-->
                <!--<h2 class="header">Parallax</h2>-->
                <!--<p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="parallax-container"></div>-->
        <!--<div class="parallax"><img src="{% static 'images/BackgroundImageScrolling.png' %}"></div>-->
        <!--<div class="section white">-->
            <!--<div class="row container">-->
                <!--<h2 class="header">Parallax</h2>-->
                <!--<p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="parallax-container"></div>-->
        <!--<div class="parallax"><img src="{% static 'images/BackgroundImageScrolling.png' %}"></div>-->
        <!--<div class="section white">-->
            <!--<div class="row container">-->
                <!--<h2 class="header">Parallax</h2>-->
                <!--<p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="col m2 s12 white-text" style="overflow: auto; border-radius: 8px;">
        <table class="highlight" id="myTable" style="background: #7ebdc3;" >
            <thead>
              <tr>
                  <th onclick="sortTable(0)">Rank</th>
                  <th onclick="sortTable(1)">Name</th>
              </tr>
            </thead>
            <tbody>
            {% for cur_user in ranking %}
            {% if forloop.counter|divisibleby:2 %}
                <tr>
                  <td>{{ cur_user.14|add:"1" }}</td>
                  <td>{{ cur_user.1 }}</td>
                </tr>
            {% else %}
                <tr style="background: #0e3b43;">
                  <td>{{ cur_user.14|add:"1" }}</td>
                  <td>{{ cur_user.1 }}</td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems, options);
      });

      // Or with jQuery

      $(document).ready(function(){
        $('.parallax').parallax();
      });
</script>
{% else %}
<div class="center row container">
<!-- Modal Trigger -->
    <div class="col l5 m12 s12 center">
        {% if request.user_agent.is_mobile %}
        <button data-target="modal1" class="btn modal-trigger z-depth-4" style="height: 160px; width: 200px; font-size: 80px; background: #b72026; border-radius: 12px;"><span>Learn<br><br>More</span></button>
        {% elif request.user_agent.is_tablet %}
        <button data-target="modal1" class="btn modal-trigger z-depth-4" style="height: 160px; width: 200px; font-size: 80px; background: #b72026; border-radius: 12px;"><span>Learn<br><br>More</span></button>
        {% else %}
        <button data-target="modal1" class="btn modal-trigger z-depth-4 button-2 hide-on-med-and-up" style="height: 320px; width: 275px; font-size: 80px; background: #b72026; border-radius: 12px;"><span>Learn<br><br>More</span></button>
        <button data-target="modal1" class="btn modal-trigger z-depth-4 button-2 hide-on-small-only" style="height: 320px; width: 400px; font-size: 80px; background: #b72026; border-radius: 12px;"><span>Learn<br><br>More</span></button>
        {% endif %}

    </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal" style="background: #0e3b43;">
    <div class="modal-content">
        <div class="row hide-on-large-only">
            <div class="col l1 m1 s1"></div>
            <div class="col l10 m10 s10">
                <div class="card hoverable z-depth-1" style="color: #7ebdc3; opacity: 0.5; background:#0c1217;">
                    <div class="section-header">
                        <h4 class="center ">Mission Statement</h4>
                        <p class="container" style="font-size: 16px;">RaidingPartyPlus raids small streamers to help reach the affiliate goals, and to
                            bring them into the community. After a new accession has joined the ranks, we continue to give love
                            and support to the members channel with many perks as they climb up the embedded rank structure.</p>
                    </div>
                </div>
                <div class="card hoverable z-depth-1" style="color: #0c1217; opacity: 0.5; background:#07ebdc3;">
                    <div class="section-header">
                        <h4 class="center">Vision</h4>
                        <p class="container" style="font-size: 16px;">The vision of RaidingPartyPlus is to actively be of service to its members and the
                            Twitch community as pillar of acceptance, inspiration, and support. We will strive together to build
                            a society that every member, whether streamer or fan, can call home. To accomplish this endeavour,
                            it is agreed upon that every person whether a new recruit or a practiced veteran, continually seek
                            out new ways to aid their fellow constituents. That which a single person aims for becomes that
                            which the group seeks out to complete.
                        </p>
                    </div>
                </div>
                <div class="card hoverable z-depth-1" style="color: #7ebdc3; opacity: 0.5; background:#0c1217;">
                    <div class="section-header">
                        <h4 class="center ">Expectations</h4>
                        <p class="container" style="font-size: 16px;">
                            What can you benefit from us?
                            What we expect of you in return
                            <br>
                            Friends and Networking
                            These are the foundations of becoming a successful streamer. To learn to get fans, try being
                            one first!
                            <br>
                            Engage other streamers
                            We have scheduled days we host parties to raid people, to not only help them out but bring them
                            to our community like we did to you!
                            <br>
                            The effect
                            We love this one so much! The Raid effect; that smile you put on someones face from one simple
                            gesture. That can benefit us all!
                            <br>
                            Sticking around
                            This may seem like an odd expectation but we want you to hang out. If you don't wish to be a
                            part of the raids then you can just be a fan/follower too!

                        </p>
                    </div>
                </div>
            </div>
            <div class="col l1 m1 s1"></div>
        </div>
        <div class="row hide-on-med-and-down">
            <div class="col l1 m1 s1"></div>
            <div class="col l10 m10 s10 container">
                <div class="card hoverable z-depth-1" style="color: #7ebdc3; opacity: 0.5; background:#0c1217;">
                    <div class="section-header">
                        <h2 class="center ">Mission Statement</h2>
                        <p class="container" style="font-size: 16px;">RaidingPartyPlus raids small streamers to help reach the affiliate goals, and to
                            bring them into the community. After a new accession has joined the ranks, we continue to give love
                            and support to the members channel with many perks as they climb up the embedded rank structure.</p>
                    </div>
                </div>
                <div class="card hoverable z-depth-1" style="color: #0c1217; opacity: 0.5; background:#07ebdc3;">
                    <div class="section-header">
                        <h2 class="center">Vision</h2>
                        <p class="container" style="font-size: 16px;">The vision of RaidingPartyPlus is to actively be of service to its members and the
                            Twitch community as pillar of acceptance, inspiration, and support. We will strive together to build
                            a society that every member, whether streamer or fan, can call home. To accomplish this endeavour,
                            it is agreed upon that every person whether a new recruit or a practiced veteran, continually seek
                            out new ways to aid their fellow constituents. That which a single person aims for becomes that
                            which the group seeks out to complete.
                        </p>
                    </div>
                </div>
                <div class="card hoverable z-depth-1" style="color: #7ebdc3; opacity: 0.5; background:#0c1217;">
                    <div class="section-header">
                        <h2 class="center ">Expectations</h2>
                        <p class="container" style="font-size: 16px;">
                            What can you benefit from us?
                            What we expect of you in return
                            <br>
                            Friends and Networking
                            These are the foundations of becoming a successful streamer. To learn to get fans, try being
                            one first!
                            <br>
                            Engage other streamers
                            We have scheduled days we host parties to raid people, to not only help them out but bring them
                            to our community like we did to you!
                            <br>
                            The effect
                            We love this one so much! The Raid effect; that smile you put on someones face from one simple
                            gesture. That can benefit us all!
                            <br>
                            Sticking around
                            This may seem like an odd expectation but we want you to hang out. If you don't wish to be a
                            part of the raids then you can just be a fan/follower too!

                        </p>
                    </div>
                </div>
            </div>
            <div class="col l1 m1 s1"></div>
        </div>
    </div>
  </div>
    {% if request.user_agent.is_mobile %}
    <div class="col m2 s12 center"></div>
    {% elif request.user_agent.is_tablet %}
    <div class="col m2 s12 center" style="height: 40px"></div>
    {% else %}
    <div class="col l2 m12 s12" style="height: 40px"></div>
    {% endif %}
<!-- Modal Trigger -->
    <div class="col l5 m12 s12 center">
        {% if request.user_agent.is_mobile %}
        <button data-target="modal2" class="btn modal-trigger z-depth-4" id="us" style="height: 160px; width: 200px; font-size: 80px; background: #b72026; border-radius: 12px;"><span id="a">Join<br><br>Us</span><span id ="b">ONE<br><br>OF<br><br>US...</span></button>
        {% elif request.user_agent.is_tablet %}
        <button data-target="modal2" class="btn modal-trigger z-depth-4" id="us" style="height: 160px; width: 200px; font-size: 80px; background: #b72026; border-radius: 12px;"><span id="a">Join<br><br>Us</span><span id ="b">ONE<br><br>OF<br><br>US...</span></button>
        {% else %}
        <button data-target="modal2" class="btn modal-trigger z-depth-4 button-2 hide-on-med-and-up" id="us" style="height: 320px; width: 275px; font-size: 80px; background: #b72026; border-radius: 12px;"><span id="a">Join<br><br>Us</span><span id ="b">ONE<br><br>OF<br><br>US...</span></button>
        <button data-target="modal2" class="btn modal-trigger z-depth-4 button-2 hide-on-small-only" id="us" style="height: 320px; width: 400px; font-size: 80px; background: #b72026; border-radius: 12px;"><span id="a">Join<br><br>Us</span><span id ="b">ONE<br><br>OF<br><br>US...</span></button>
        {% endif %}
    </div>
  <!-- Modal Structure -->
  <div id="modal2" class="modal" style="background: #0c1217;">
    <div class="modal-content">
      <h4 class="white-text">Our Discord</h4>
    </div>
    <div class="modal-footer center" style="background: #0e3b43;">
      <a href="https://discord.gg/28tJaDw" class="modal-close waves-effect waves-green btn-flat white-text center">JOIN</a>
    </div>
  </div>
</div>
<style>
    @media screen and (max-width: 768px) {

              .button-2 {
                width: 200px;
                }
     }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });
</script>
{% endif %}
{% endblock %}