{% extends "main/header.html" %}
{% load static %}

{% block title %}
<title>Homepage</title>
// Include FusionCharts core file
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
// Include FusionCharts Theme file
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
{% endblock %}

{% block content %}
<div style="height: 10px;"></div>
<div class="center">

  </div>
{% endblock %}