{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="DePixel8">
    <title>Raiding Party Plus - A Twitch Community</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'old_site/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'old_site/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'old_site/css/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'old_site/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'old_site/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'old_site/css/nivo-lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'old_site/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'old_site/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'old_site/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'old_site/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'old_site/css/responsive.css' %}">
  </head>
  <body>

    <!-- Header Section Start -->
    <header id="hero-area" data-stellar-background-ratio="0.5">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a href="index.html" class="navbar-brand"><img class="img-fulid" src="{% static 'old_site/img/logo.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lnr lnr-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#hero-area">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#expectations">Expectations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#effect">The Effect</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#merch">Merch</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#team">Team</a>
              </li>
			  <li class="nav-item">
                <a class="nav-link page-scroll" href="/ranks/rank.php">Leaderboards</a>
              </li>
			  <li class="nav-item">
                <a class="nav-link page-scroll" href="/admin/login.php">Admin</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
           <li>
              <a class="page-scroll" href="#hero-area">Home</a>
            </li>
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#expectations">Expectations</a>
            </li>
            <li>
              <a class="page-scroll" href="#effect">The Effect</a>
            </li>
            <li>
              <a class="page-scroll" href="http://www.raidingpartyplus.com/shop">Merch</a>
            </li>
            <li>
              <a class="page-scroll" href="#team">Team</a>
            </li>
			<li>
              <a class="page-scroll" href="http://www.raidingpartyplus.com/ranks/rank.php">Leaderboards</a>
            </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Raiding Party Plus</h1>
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Support for Small Streamers by Streamers</p>
              <a href="https://discord.gg/RSxRQDg" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">DISCORD</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header Section End -->

	<!-- Mission Section Start -->
    <section id="mission" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Mission Statement</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">RaidingPartyPlus raids small streamers to help reach the affiliate goals, and to bring them into the community. After a new accession has joined the ranks, we continue to give love and support to the members channel with many perks as they climb up the embedded rank structure.</p>
        </div>
        </div>
      </div>
    </section>
    <!-- Mission Section End -->

		<!-- Vision Section Start -->
    <section id="vision" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Vision Statement</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">The vision of RaidingPartyPlus is to actively be of service to its members and the Twitch community as pillar of acceptance, inspiration, and support. We will strive together to build a society that every member, whether streamer or fan, can call home. To accomplish this endeavour, it is agreed upon that every person whether a new recruit or a practiced veteran, continually seek out new ways to aid their fellow constituents. That which a single person aims for becomes that which the group seeks out to complete.
</p>
        </div>
        </div>
      </div>
    </section>
    <!-- Vision Section End -->

    <!-- About Us Section Start -->
    <section id="about" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">About Us</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">We strive to help you with your streaming goals!<br>We are not a follow for follow community!<br>We are more than just a community for twitch, we hang out, play games and talk about all kinds of things!</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon">
                <i class="lnr lnr-rocket"></i>
              </div>
              <h4>Game Servers</h4>
              <p>Right now we have a 96 slot minecraft server! We will be adding more as the community grows!</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <div class="icon">
                <i class="lnr lnr-pencil"></i>
              </div>
              <h4>Graphic Designers</h4>
              <p>We have several graphic designers that can help you get your channel looking great!</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="lnr lnr-user"></i>
              </div>
              <h4>Friendships and Connections</h4>
              <p>We are all about networking and making friends! We can help you grow on twitch and linkedin!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Features Section Start -->
    <section id="expectations" class="section" data-stellar-background-ratio="0.2">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title">Expectations</h2>
          <hr class="lines">
          <p class="section-subtitle">What can you benefit from us? <br> What we expect of you in return</p>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-12 col-xs-12">
            <div class="container">
              <div class="row">
                 <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-users"></i>
                    </span>
                    <div class="text">
                      <h4>Friends and Networking</h4>
                      <p>These are the foundations of becoming a successfull streamer. To learn to get fans, try being one first!</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-calendar-full"></i>
                    </span>
                    <div class="text">
                      <h4>Engage other streamers</h4>
                      <p>We have scheduled days we host parties to raid people, to not only help them out but bring them to our community like we did to you!</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-heart"></i>
                    </span>
                    <div class="text">
                      <h4>The effect</h4>
                      <p>We love this one so much! The Raid effect; that smile you put on someones face from one simple gesture. That can benefit us all!</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-home"></i>
                    </span>
                    <div class="text">
                      <h4>Sticking around</h4>
                      <p>This may seem like an odd expectation but we want you to hang out. If you don't wish to be a part of the raids then you can just be a fan/follower too!</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12">
            <div class="show-box">
              <img class="img-fulid" src="{% static 'old_site/img/feature.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features Section End -->

    <!-- Portfolio Section -->
    <section id="effect" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">
          <h2 class="section-title">The Raid Effect</h2>
          <hr class="lines">
          <p class="section-subtitle">Check out some of our favorite clips of people we have raided</p>
        </div>
        <div class="row">
          <div class="col-md-12">
          </div>

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row">
			<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static 'old_site/img/img3.jpg' %}" alt="" />
                  <a class="overlay lightbox" href="https://clips.twitch.tv/TubularPatientDugongMingLee">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>
              </div>
            </div>
			<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static 'old_site/img/img2.jpg' %}" alt="" />
                  <a class="overlay lightbox" href="https://clips.twitch.tv/AverageMistyCrabsANELE">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static 'old_site/img/img4.jpg' %}" alt="" />
                  <a class="overlay lightbox" href="https://clips.twitch.tv/TangiblePreciousUdonPhilosoraptor">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static 'old_site/img/img5.jpg' %}" alt="" />
                  <a class="overlay lightbox" href="{% static 'old_site/img/img5.jpg' %}">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static 'old_site/img/img5.jpg' %}" alt="" />
                  <a class="overlay lightbox" href="{% static 'old_site/img/img5.jpg' %}">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static 'old_site/img/img6.jpg' %}" alt="" />
                  <a class="overlay lightbox" href="{% static 'old_site/img/img6.jpg' %}">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends -->

    <!-- Start Video promo Section -->
    <section class="video-promo section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="video-promo-content text-center">
                <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Watch Our Intro video</h2>
                <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Something we put together to show what we can do for you!</p>
                <a href="https://www.youtube.com/watch?v=3Ug1EahzhWI" class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s"><i class="lnr lnr-film-play"></i></a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Video Promo Section -->

    <!-- Start Pricing Table Section -->
    <div id="merch" class="section pricing-section">
      <div class="container">
        <div class="section-header">
            <h2 class="section-title"><a href="http://www.raidingpartyplus.com/shop">Merchandise</a></h2>
          <hr class="lines">
          <p class="section-subtitle"><a href="http://www.raidingpartyplus.com/shop">Click here to shop</a><br>All Prices are listed in USD.<br> Come Check out the new merch store!!!!</p>
        </div>
        </div>
      </div>
    </div>
    <!-- End Pricing Table Section -->

    <!-- Team section Start -->
    <section id="team" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title">Our Team</h2>
          <hr class="lines">
          <p class="section-subtitle">The Admins, Team Leaders,<br>and people that work so very hard to keep everything running smoothly.</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img src="{% static 'old_site/img/hess.png' %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Dick <br>(HessMess)</h4>
                  <p>Co-Founder/Admin</p>
                <!--  <ul class="social-list">
                    <li class="twitch"><a href="#"><i class="fa fa-twitch"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                 </ul> -->
                </div>
              </div>
            </div>
          </div>
		   <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img src="{% static 'old_site/img/pixel.jpg' %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Mike <br>(DePixel8)</h4>
                  <p>Admin/Webmaster</p>
                 <!-- <ul class="social-list">
                    <li class="twitch"><a href="#"><i class="fa fa-twitch"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
			<div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img class="img-fulid" src="{% static 'old_site/img/kiri.jpg' %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Cam<br>(Kirimora)</h4>
                  <p>Admin</p>
                 <!-- <ul class="social-list">
                    <li class="twitch"><a href="#"><i class="fa fa-twitch"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
		  </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img class="img-fulid" src="{% static 'old_site/img/fifty.jpg' %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Clay (50percentgaming)</h4>
                  <p>Admin</p>
                  <!-- <ul class="social-list">
                    <li class="twitch"><a href="#"><i class="fa fa-twitch"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
	   <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img class="img-fulid" src="{% static 'old_site/img/ninjabig.png' %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Demetrius (bninja272)</h4>
                  <p>Tech Admin/Coder</p>
                 <!-- <ul class="social-list">
                    <li class="twitch"><a href="#"><i class="fa fa-twitch"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
		   <div class="col-lg-3 col-md-6 col-xs-12">
			<div class="single-team">
              <img class="img-fulid" src="{% static 'old_site/img/jess2.jpg' %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Jess<br>(Pandora_Night)</h4>
                  <p>Team Leader</p>
                <!--  <ul class="social-list">
                    <li class="twitch"><a href="#"><i class="fa fa-twitch"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
			<div class="col-lg-3 col-md-6 col-xs-12">
             <div class="single-team">
              <img class="img-fulid" src="{% static 'old_site/img/plk.jpg' %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">?????<br>PLK</h4>
                  <p>Team Leader</p>
                <!--  <ul class="social-list">
                    <li class="twitch"><a href="#"><i class="fa fa-twitch"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
		  </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img class="img-fulid" src="{% static 'old_site/img/brock.png' %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Brock<br>(PKMNtrainer)</h4>
                  <p>Pumpkin</p>
                <!--  <ul class="social-list">
                    <li class="twitch"><a href="#"><i class="fa fa-twitch"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

















    </section>
    <!-- Team section End -->

    <!-- testimonial Section Start -->
    <div id="testimonial" class="section" data-stellar-background-ratio="0.1">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <div class="touch-slider owl-carousel owl-theme">
              <div class="testimonial-item">
                <img src="{% static 'old_site/img/kirimora.png' %}" alt="Team Leader" />
                <div class="testimonial-text">
				  <h3>Kirimora</h3>
                  <span>Admin</span>
                  <p>My daughter teaches me to play rocket league.</p>
                </div>
              </div>
              <div class="testimonial-item">
                <img src="{% static 'old_site/img/pandora.png' %}" alt="Team Leader" />
                <div class="testimonial-text">
				  <h3>Prandora_Night</h3>
                  <span>Team Leader</span>
                  <p>That is a thing!</p>
                </div>
              </div>
              <div class="testimonial-item">
                <img src="{% static 'old_site/img/jynx_noise.png' %}" alt="Team Leader" />
                <div class="testimonial-text">
				  <h3>Jynx_Noise (Mustard Man)</h3>
                  <span>Raider</span>
                  <p>Jenna told me I can't dab</p>
                </div>
              </div>
              <div class="testimonial-item">
                <img src="{% static 'old_site/img/vandergor.png' %}" alt="Raider" />
                <div class="testimonial-text">
				  <h3>Vandergor</h3>
                  <span>Raider</span>
                  <p>My friends are the best friends<br>Loyal, willing and able.<br>Now let’s get to drinking!<br>All glasses off the table!</p>
                </div>
              </div>

			  <div class="testimonial-item">
                <img src="{% static 'old_site/img/glass.png' %}" alt="Movie Director" />
                <div class="testimonial-text">
				  <h3>LazyGlassman</h3>
                  <span>Movie Director</span>
                  <p>everyone deserves to have their day brightened</p>
                </div>
              </div>
              <div class="testimonial-item">
                <img src="{% static 'old_site/img/user_small.png' %}" alt="Team Prospect" />
                <div class="testimonial-text">
				  <h3>User</h3>
                  <span>Role</span>
                  <p>Quote:</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- testimonial Section Start -->

    <!-- Footer Section Start -->
    <footer>
      <div class="container">
        <div class="row">
          <!-- Footer Links -->
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <ul class="footer-links">
              <li>
                <a href="#">Homepage</a>
              </li>
              <li>
                <a href="#about">About Us</a>
              </li>
              <li>
                <a href="#team">Team</a>
              </li>
              <li>
                <a href="https://discord.gg/RSxRQDg">Discord</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="copyright">
              <p>2018 - Designed by <a rel="nofollow" href="http://www.twitter.com/depixel8">DePixel8</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lnr lnr-arrow-up"></i>
    </a>

    <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>

     jQuery first, then Tether, then Bootstrap JS.
    <script src="{% static 'old_site/js/jquery-min.js' %}"></script>
    <script src="{% static 'old_site/js/popper.min.js' %}"></script>
    <script src="{% static 'old_site/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'old_site/js/jquery.mixitup.js' %}"></script>
    <script src="{% static 'old_site/js/nivo-lightbox.js' %}"></script>
    <script src="{% static 'old_site/js/owl.carousel.js' %}"></script>
    <script src="{% static 'old_site/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'old_site/js/jquery.nav.js' %}"></script>
    <script src="{% static 'old_site/js/scrolling-nav.js' %}"></script>
    <script src="{% static 'old_site/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'old_site/js/smoothscroll.js' %}"></script>
    <script src="{% static 'old_site/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'old_site/js/wow.js' %}"></script>
    <script src="{% static 'old_site/js/jquery.vide.js' %}"></script>
    <script src="{% static 'old_site/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'old_site/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'old_site/js/waypoints.min.js' %}"></script>
    <script src="{% static 'old_site/js/form-validator.min.js' %}"></script>
    <script src="{% static 'old_site/js/contact-form-script.js' %}"></script>
    <script src="{% static 'old_site/js/main.js' %}"></script>

  </body>
</html>